.banner {
    float:top;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    
}
.left {
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding-right:3%;
    margin-left:3%;
}

.tour-locations {
    float:left;
    border: solid black;
    width: auto;
    padding: 2% 2% 2% 0;
    background-color: rgba(21, 67, 90, 0.2);
    box-sizing: border-box;
    margin-left:12%;
}

body {
    background-color: rgba(23, 34, 90, 0.1)
}

.info {
    float:left;
    border: solid black;
    width: 30%;
    padding: 2% 2% 2% 2%;
    box-sizing: border-box;
    margin-left:3%;
}

.header {
    text-align: center;
    color: rgb(2, 60, 33, 1);
}