.banner {
    float:top;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    
}
.left {
    float:left;
    width: 50%;
    margin: 15px;
    box-sizing: border-box;
}

.tour-locations {
    padding-left: 50%;
}

.column {
    width: 25%;
    float: right;
    border: solid black;
    border-width: 10px;
    margin: 10px;
    box-sizing: border-box;
    background: rgba(50, 177, 205, 0.381);
    
}